.client-profile-div {
    background-color: lightgreen;
    max-width: 35%;
    margin: 7rem auto;
    padding: 2rem;
    text-align: center;
}

.client-profile-h1 {
    margin-left: 1.25rem;
    margin-bottom: 1.5rem;
}

.client-profile-button {
    margin-top: .6rem !important;
}

#client-profile-container-row {
    margin-left: 1.25rem;
    margin-right: 1.25rem;
}

@media screen and (max-width: 1200px) {
    .client-profile-div {
        max-width: 65%;
    }
}

@media screen and (max-width: 767px) {
    .client-profile-div {
        max-width: 95%;
    }
}