.navbar {
    padding: .7rem 1rem !important;
    background-color: brown;
}

.navbar a {
    color: white;
}

.navbar a:hover {
    color: white;
}

.navbar-auth-as {
    color: black !important;
}

.nav-icon {
    background-image: url('./eagle_icon.png');
    width: 2.3rem;
    margin-bottom: .6rem;
    margin-right: .4rem;
}

.navbar-brand {
    color: whitesmoke !important;
}

.btn-light {
    margin: 0 .35rem;
    padding: .6rem .8rem;
}

.nav-right {
    margin-left: auto;
}