
.attorney-public-profile {
    padding: 3rem;
}

.attorney-profile-image {
    width: 12.5rem;
}

.attorney-profile-content {
    padding: 1rem;
    background-color: white;
}

.attorney-profile-reviews {
    margin: 1rem 0;
    padding: 1rem;
    background-color: white;
}

.review-card {
    border: 1px solid black;
    padding: 1rem;
    margin: 1rem;
}

.edit-and-delete-buttons {
    margin-top: .6rem ;
    margin-left: .7rem ;
}

.review-edit {
    margin-top: 1em;
}

#edit-submit-button {
    margin-top: .75rem;
}

#review-submit-button {
    margin-top: .75rem;
}

#email-submit-button {
    margin-top: .75rem;

}

#attorney-public-profile-reviews-section {
    max-height: 80vh;
    overflow-y: auto;
}

#review-col {
    padding-left: 0px;
}

#contact-col {
    padding-left: 0;
    margin-top: 1rem;
}
