p {
    font-size: .8em;
}

.dropdown-menu {
    top: 90% !important;
    left: -52% !important;
}

.auth-button {
    margin-top: .6rem !important;
}

#auth-row {
    justify-content: center;
}

#profile-image {
    width: 20em;
}

#register {
    padding: 1rem;
}

/* Media Queries */

@media (max-width: 700px) { 
    .dropdown-menu {
        top: 100% !important;
        left: 0% !important;
    }
}